.movieWidget {
    margin: 10px;
    color: black;
}

.movieWidget ul {
    padding: 0;
    margin: 10px;
}

.movieWidget li {
    list-style-type: none;
}

.movieWidget strong {
    width: 160px;
    display: block;
    float: left;
}